/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*{
    margin: 0;
    padding: 0;
}

/*-----------------------------------*\
  #welcome
\*-----------------------------------*/

.bg{
    position: relative;
}

.bg .blue{
    width: 100vw;
    height: 40vh;
    background-color: #307DF6;
    position: relative;
    z-index: 0;
}

.bg .blue .b{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.bg .blue .b .left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.bg .blue .b .right{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.bg .blue .b .box{
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.bg .blue .b .o30{
    background-color: #FFFFFF;
    opacity: 30%;
}

.bg .blue .b .o10{
    background-color: #FFFFFF;
    opacity: 10%;
}

.bg .blue .b .o5{
    background-color: #FFFFFF;
    opacity: 5%;
}

.bg .blue .title{
    width: 100%;
    position: absolute;
    bottom : 0;
}
.bg .blue h1{
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-weight: 400;
}

.bg .white{
    width: 100vw;
    height: 60vh;
    background-color: #F4F6FF;
}

.bg .white {
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.bg .white p{
    margin: 60px auto;
    width: 32vw;
    color: #4E596B;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.bg button#play,button#new,button#solve{
    border: 4px solid #307DF6;
    border-radius: 50px;
    padding: 8px 40px;

    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    background: #F4F6FF;
    color: #307DF6;
    letter-spacing: 2px;
}

.bg button#play:hover,button#new:hover,button#solve:hover{
    background: #307DF6;
    color: #FFFFFF;
}

/*-----------------------------------*\
  #board
\*-----------------------------------*/
.bg #heading {
    display: flex;
    justify-content: space-between;
    /* background: yellow; */
}

.bg #heading .su{
    margin-bottom: 40px;
    display:flex;
    flex-direction: column;
    align-items:start;
}

.bg #heading .lvl p{
    color:white;
    font-size: 12px;
    font-weight: 800;
    
}

.bg #heading .lvl > div{
    width: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bg #heading .lvl > div .circle{
    height: 36px;
    background: none;
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    align-content: center;
}
.bg #heading .lvl > div #lCrcl{
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.bg #heading .lvl > div #rCrcl{
    border: 2px solid rgba(255, 255, 255, 1);
}
.bg #heading .lvl > div .circle .arrow{
    height: 9px;
    aspect-ratio: 1;
    rotate: 45deg;
    border-radius: 3px;
}
.bg #heading .lvl > div .circle #lArrw{
    margin: auto;
    margin-left: 12px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}
.bg #heading .lvl > div .circle #rArrw{
    margin: auto;
    margin-right: 12px;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.bg #heading .lvl > div .circle:hover{
    background: white;
}
.bg #heading .lvl > div .circle:hover #lArrw{
    border-left: 3px solid #307DF6;
    border-bottom: 3px solid #307DF6;
}
.bg #heading .lvl > div .circle:hover #rArrw{
    border-top: 3px solid #307DF6;
    border-right: 3px solid #307DF6;
}

.bg #heading h1{
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:white;
    text-align: center;
}

.bg #heading p{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color:rgba(255, 255, 255, 0.5); 
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

/* lvl */

.bg #center{
    z-index: 1;
    /* background-color: rgba(255, 0, 0, 0.142); */
    position: absolute;
    top:0;
    margin: auto 0;
    /* margin is given in js by claculating window height */
    left : 20vw;
    width : 60vw;
}

.bg .lower{
    display: flex;
    justify-content: space-between;
}

/* board */
.bg #board{
    width : 360px;
    height: 360px;
    margin: 0;
    border: 3px solid #D7E1F4;
    background: #D7E1F4;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.bg #board .sboard{
    width: 118px;
    height: 118px;
    background: #D7E1F4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.bg #board .s0,#box00{
 border-top-left-radius: 8px;
}
.bg #board .s2,#box08{
 border-top-right-radius: 8px;
}
.bg #board .s6,#box80{
 border-bottom-left-radius: 8px;
}
.bg #board .s8,#box88{
 border-bottom-right-radius: 8px;
}

.bg #board .sboard .sbox{
    width: 38px;
    height: 38px;
    background: white;
    
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #307DF6;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* button */
.bg #center .lower #button > div{
    margin-top: 180px;
    margin-bottom: 50px;
}

.bg #center .lower #button #new *,#solve *{
    height: 50px;
}
.bg #center .lower #button #new{
    margin-right: 10px;
}
.bg #center .lower #button p{
    width: 300px;
    text-align:center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4E596B;
    opacity: 70%;
}