/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*{
    margin: 0;
    padding: 0;
}

.bg .blue{
    width: 100vw;
    height: 40vh;
    background-color: #307DF6;
    position: relative;
}

.bg .blue .title{
    width: 100%;
    position: absolute;
    bottom : 0;
}
.bg .blue h1{
    color: white;
    text-align: center;

}

.bg .white{
    width: 100vw;
    height: 60vh;
    background-color: #F4F6FF;
}